<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Edit Task</title>
</head>
<body>
    <!-- add Task Form -->
    <div class="container-fluid">
        <a href="/listTasks" class="btn btn-primary mt-2 text-white"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="container col-10 col-md-6 mt-5">
        <h2 class="text-center mt-5 mb-5">Update Task</h2>
        <div id="alert-container"></div>
        <form id="taskForm">
            <div class="form-group">
              <label for="scraping_url">Scraping URL</label>
              <input type="text" class="form-control" id="scraping_url" placeholder="Scraping URL" value="{{data[1]}}" required>
              <input type="hidden" name="" id="id" value="{{data[0]}}">
              <input type="hidden" name="" id="status" value="{{data[5]}}">
            </div>
    
            <div class="form-group">
                <label for="scraping_platform">Platform</label>
                <select class="form-control" id="platform" required>
                    <option value="singer" {% if data[2] == 'singer' %}selected{% endif %}>Singer</option>
                    <option value="abans" {% if data[2] == 'abans' %}selected{% endif %}>Abans</option>
                    <option value="softlogic" {% if data[2] == 'softlogic' %}selected{% endif %}>Softlogic</option>
                    <option value="singhagiri" {% if data[2] == 'singhagiri' %}selected{% endif %}>Singhagiri</option>
                    <option value="damro" {% if data[2] == 'damro' %}selected{% endif %}>Damro</option>
                </select>
            </div>

            <div class="form-group">
                <label for="scraping_platform">Category</label>
                <select class="form-control" id="category" required>
                    <option value="">Select Category</option>
                    <option value="rice_cooker" {% if data[3] == 'rice_cooker' %}selected{% endif %}>Rice Cookers</option>
                    <option value="refrigerator" {% if data[3] == 'refrigerator' %}selected{% endif %}>Refrigerator</option>
                    <option value="fan" {% if data[3] == 'fan' %}selected{% endif %}>Fans</option>
                    <option value="tv" {% if data[3] == 'tv' %}selected{% endif %}>TV</option>
                    <option value="washing_machine" {% if data[3] == 'washing_machine' %}selected{% endif %}>Washing Machines</option>
                </select>
            </div>

            <div class="form-group">
                <label for="scraping_interval">Time Interval</label>
                <select class="form-control" id="interval" required>
                    <option value="">Select Time Interval</option>
                    <option value=1 {% if data[4] == 1 %}selected{% endif %}>1 Hour</option>
                    <option value=2 {% if data[4] == 2 %}selected{% endif %}>2 hours</option>
                    <option value=5 {% if data[4] == 5 %}selected{% endif %}>5 hours</option>
                    <option value=10 {% if data[4] == 10 %}selected{% endif %}>10 Hours</option>
                </select>
            </div>
    
            <button type="submit" class="btn btn-primary mt-2">Update</button>
            <a type="button" href="/listTasks" class="btn btn-secondary  mt-2">Cancel</a>
          </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#taskForm").submit(function(event){
                event.preventDefault();
                var formData = {
                    url : $("#scraping_url").val(),
                    platform : $("#platform").val(),
                    category : $("#category").val(),
                    interval : $("#interval").val(),
                    status : $("#status").val()
                    }
                var id = $('#id').val();
                
                $.ajax({

                    type: "POST",
                    url: "/editTask/"+id,
                    data: JSON.stringify(formData),
                    contentType: "application/json",
                    encode: true,

                }).done(function (data){
                   $("#alert-container").html(
                    '<div class="alert alert-success alert-dismissible fade show mt-4 px-2 " role="alert">' +
                    'Task Updated successfully' +
                    '</div>'
                   );
                   setTimeout(function () { $('#alert-container').html(''); location.reload(); }, 1000);
                }).fail(function (data){
                    $("#alert-container").html(
                    '<div class="alert alert-danger alert-dismissible fade show mt-4 px-2" role="alert">' +
                    'Failed to Update Task' +
                    '</div>'
                   );
                   setTimeout(function () { $('#alert-container').html(''); location.reload(); }, 1000);
                })
                });
            });

    </script>
</body>
</html>